nav.navbar .navbar-item.has-user-avatar .is-user-avatar {
  display: inline-flex;
}

@include touch {
  nav.navbar {
    display: flex;
  }

  nav.navbar .navbar-brand {
    flex: 1
  }

  nav.navbar .navbar-brand.is-right {
    flex: none
  }

  nav.navbar .navbar-menu {
    position: absolute;
    top: 3.25rem;
    left: 0
  }

  nav.navbar .navbar-menu .navbar-item.has-dropdown>.navbar-link .icon:last-child {
    display: none
  }

  nav.navbar .navbar-menu .navbar-item.has-user-avatar>.navbar-link {
    display: flex;
  }
}


@include desktop {
  nav.navbar .navbar-item.is-desktop-icon-only span:not(.icon) {
    display: none
  }
}
