.candidature {
  &-card {

    height: 100%;
    border: dashed 3px #E5E5E5;
    border-radius: 6px;
    background: white;
    padding: 1rem;

    &:first-child {
      margin-bottom: 1rem;
    }
    @include tablet {
      margin-bottom: 1rem;
    }

  }
}

.has-equal-height {
  @include tablet {
    display: flex;
    flex-direction: column;
    min-height: 400px;
  }
}
