.candidature {
  &-card {
    height: 100%;
    border: dashed 3px #E5E5E5;
    border-radius: 6px;
    background: white;
    margin-bottom: 1rem;
    padding: 1rem;
    // &.has-equal-height {
    //   display: flex;
    //   flex-direction: column;
    //   height: 100%;
    // }
    // &.has-double-height {
    //   display: flex;
    //   flex-direction: column;
    //   height: 200%;
    // }
  }
}
