
// ########################################################################
// Variables
// ########################################################################
@import '~avril/scss/mixins';

// ########################################################################
// Bulma Customize (Avril variables encapsuled)
// ########################################################################
@import 'bulma';

// ########################################################################
// Layout
// ########################################################################
@import 'layout';

// ########################################################################
// Components
// ########################################################################
@import 'components';

// ########################################################################
// Reset
// ########################################################################
@import 'reset';

html,body {
  background: #F5F9FB;
}

.avril {
  &-container {
    padding: 2rem 4rem;
  }
}

.icon svg {
  width: 16px;
  height: 16px;
}
