
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://use.typekit.net/zip3jhj.css');

// ########################################################################
// Variables
// ########################################################################
@import 'variables';
@import 'mixins';

// ########################################################################
// Bulma Customize
// ########################################################################
@import 'bulma';

// ########################################################################
// Layout
// ########################################################################
@import 'layout';

// ########################################################################
// Components
// ########################################################################
@import 'components';

// ########################################################################
// Reset
// ########################################################################
@import 'reset';

html,body {
  background: #F5F9FB;
}

.avril {
  &-container {
    padding: 2rem;
  }
}

.icon svg {
  width: 16px;
  height: 16px;
}
