@import 'variables/navigation';

// couleurs
$gray-bike: #8A8C92; // using by back button
$blue-avril: #365460; // using by titles
$gray-avril: #6C787D; // using by text

@import '~avril/scss/variables';
