@import '~/assets/scss/variables.scss';

.card {
  background: $white;
  border-radius: $radius;
  .card-header {
    padding: 1rem 1.5rem;
    box-shadow: none;
    display: block;

    .title, .description {
      color: palette(default, title);
    }
  }

  .card-footer {
    padding: 1rem 1.5rem;
    border: none;
  }
  &, .card-header, .card-content, .card-footer {
    &.has-text-centered {
      justify-content: center;
      align-items: center;
    }
  }
}

