
.files-zone {
  background: $white;
  border-radius: $radius;
  padding: .5rem;
  @include tablet {
    padding: 2rem;
  }
}

.file-list {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;

  .file {
    position: relative;
    width: 12rem;
    margin-bottom: 1rem;
    &:not(:last-child) {
      margin-right: 1rem;
    }

    .file-cta {
      height: 10rem;
      display: flex;
      justify-content: space-around;

      .file-type {
        text-align: center;
        select {
          font-size: 0.9rem;
        }
      }
    }

    .file-icon {
      height: 5rem;
      width: 3rem;

      &.has-label {
        height: 3rem;
      }

      margin: 0;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    .file-label {
      color: $black;
      width: 100%;
      .file-name {
        border-color: #d5d5d5;
        justify-content: center;
        display: block;
        text-align: center;
        white-space: normal;
        height: auto;
        textarea {
          text-align: center;
        }
      }
    }
    .is-left, .is-right {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      border: none;
      border-radius: 1rem;
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      font-size: 0;
      span {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 0.8rem;
      }
    }
    .is-right {
      top: 0.5rem;
      right: 0.5rem;
      left: auto;
    }
  }
}