
.files-zone {
  background: $white;
  border-radius: $radius;
  padding: .5rem;
  @include tablet {
    padding: 2rem;
  }
}

.file-list {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;

  .file {
    position: relative;
    width: 10rem;
    margin-bottom: 1rem;
    &:not(:last-child) {
      margin-right: 1rem;
    }

    .file-cta {
      height: 8rem;
      display: flex;
      justify-content: space-around;
    }

    .file-icon {
      height: 5rem;
      width: 3rem;

      &.has-label {
        height: 3rem;
      }

      margin: 0;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    .file-label {
      color: $black;
      width: 100%;
      .file-name {
        border-color: #d5d5d5;
        justify-content: center;
        display: block;
        text-align: center;
      }
    }
    .delete {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
  }
}