.label-avril {
  background: transparent;
  position: relative;
  display: inline;
  z-index: 0;
  &::after {
    content: "";
    display: block;
    height: 10px;
    background: palette(yellow, background);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: -5;
  }
}
