@import './buttons';
@import './form';

html,body {
  background: palette(default, background);
}

@include mobile {
  .navbar {
    background: rgba(palette(default, background), 0.95);
  }
}

.navbar .navbar-menu {
  background: rgba(palette(default, background), 0.95);
}

.avril {
  &-container {
    padding: 2rem 1rem;
    @include desktop{
      padding: 2rem 4rem;
    }

    .__nuxt-error-page {
      position: relative;
    }
  }
}

.icon svg {
  width: 16px;
  height: 16px;
  stroke-width: inherit;
}

.help {
  font-size: 1rem;
}

.level-item {
  .title, .subtitle {
    margin-bottom: 1rem;
  }
}

.tag {
  font-weight: 900;
  text-transform: uppercase;
}

header.application-header {
  margin-bottom: 2rem;
  .title {
    margin-bottom: 1rem;
  }
}

.box {
  box-shadow: none;
}