.dashboard-navigation {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -$dashboard-navigation-width;
  margin-right: 0;
  z-index: 100;
  @include touch {
    left: -$dashboard-navigation-width;
  }
  @include desktop {
    left: 0;
  }

  .header {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    .aside-tools-label {
      flex: 1
    }
    .aside-close {
      flex-grow: 0;
    }
  }

  .aside-container,
  .menu-container {
    flex: 1;
    position: relative
  }

  .menu.is-menu-bottom {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto
  }

  // .menu-list li ul {
  //   display: none;
  // }
  //
  // .menu-label {
  //   display: none;
  // }

  li a .icon.has-update-mark:after {
    right: 1.4rem
  }

  // li a span.menu-item-label {
  //   display: none
  // }

}

@include touch {

  .dashboard-navigation .menu-label {
    display: block
  }

  html.has-aside-mobile-expanded #app,
  html.has-aside-mobile-expanded nav.navbar {
    margin-left: $dashboard-navigation-width
  }

  html.has-aside-mobile-expanded aside.dashboard-navigation.is-placed-left {
    left: 0
  }

}

@include desktop {

  html.has-aside-left.has-aside-expanded body,
  html.has-aside-left.has-aside-expanded nav.navbar {
    padding-left: $dashboard-navigation-width
  }

  .dashboard-navigation {
    z-index: 50
  }

  .dashboard-navigation:not(.is-expanded) .header {
    padding-left: 0
  }

  .dashboard-navigation:not(.is-expanded) .header .aside-tools-label {
    text-align: center
  }

  .dashboard-navigation.is-expanded {
    width: $dashboard-navigation-width
  }

  .dashboard-navigation.is-expanded .menu-label {
    display: block
  }

  .dashboard-navigation.is-expanded .menu-list .icon {
    width: 3rem
  }

  .dashboard-navigation.is-expanded .menu-list .icon.has-update-mark:after {
    right: .65rem
  }

  .dashboard-navigation.is-expanded .menu-list span.menu-item-label {
    display: inline-block
  }

  .dashboard-navigation.is-expanded .menu-list li.is-active ul {
    display: block
  }
}
